<div>
    <!-- <div>Technician: {{estimateModel.firstName}} {{estimateModel.lastName}}</div>
    <div>Property: {{estimateModel.property}}</div>
    <div>Priority: {{estimateModel.priority}}</div>
    <div>Task Name: {{estimateModel.workTask}}</div>
    <div>Description: {{estimateModel.description}}</div>
    <div>Quantity: {{estimateModel.quantity}}</div>
    <div>Labor Cost: {{estimateModel.labor}}</div>
    <div>Material Cost: {{estimateModel.materials}}</div>
    <div>Total Cost: {{totalCost}}</div> -->
</div>
