<mat-stepper #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup" class="form-wrapper">
      <ng-template matStepLabel>Fill out technician and property details</ng-template>
			<div class="name-container">
				<mat-form-field class="name-fields">
					<mat-label>Technician First Name</mat-label>
					<input matInput placeholder="First name" formControlName="firstCtrl" [(ngModel)]="model.firstName" required>
				</mat-form-field>
				<mat-form-field class="name-fields">
					<mat-label>Technician Last Name</mat-label>
					<input matInput placeholder="Last name" formControlName="firstCtrl" [(ngModel)]="model.lastName" required>
				</mat-form-field>
			</div>
			<mat-form-field>
				<mat-label>Property</mat-label>
				<mat-select [(ngModel)]="selectedProperty" [ngModelOptions]="{standalone: true}" required>
					<mat-option *ngFor="let property of properties" [value]="property.viewValue">
						{{property.viewValue}}
					</mat-option>
				</mat-select>
			</mat-form-field>
			<mat-form-field>
				<mat-label>Priority</mat-label>
				<mat-select [(ngModel)]="selectedPriority" [ngModelOptions]="{standalone: true}" required>
					<mat-option *ngFor="let priority of priorities" [value]="priority.viewValue">
						{{priority.viewValue}}
					</mat-option>
				</mat-select>
			</mat-form-field>
      <div class="next-button-wrapper">
				<button (click)="goHome()" mat-button class="next-button right-space">Back</button>
        <button (click)="firstNext()" 
					[disabled]="!firstValidate()" 
					mat-button 
					matStepperNext 
					class="next-button"
					[class.button-disabled]="!firstValidate()">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup" class="form-wrapper">
      <ng-template matStepLabel>Fill out work task</ng-template>
			<estimate-details-container-component (outputEstimateDetailsModel)="addWorkTask($event)"></estimate-details-container-component>
      <div class="next-button-wrapper">
        <button mat-button matStepperPrevious class="next-button right-space">Back</button>
        <button (click)="secondNext()" 
					mat-button 
					matStepperNext 
					class="next-button">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Review</ng-template>
    <p>Review work estimate:</p>
		<div class="estimate-info card">
			<div>Technician: {{estimate.firstName}} {{estimate.lastName}}</div>
			<div>Property: {{estimate.property}}</div>
			<div>Priority: {{estimate.priority}}</div>
		</div>
		<div>
			<div *ngFor="let details of estimateDetails" class="card">
				<div>Task Name: {{details.workTask}}</div>
				<div *ngIf="details.description">Description: {{details?.description}}</div>
				<div>Quantity: {{details.quantity}}</div>
				<div>Labor Cost: ${{details.labor}}</div>
				<div>Materials Cost: ${{details.materials}}</div>
			</div>
		</div>
		<div class="total-cost">Total Cost: ${{totalCost}}</div>
		<div class="next-button-wrapper">
			<button matStepperPrevious mat-button class="next-button right-space">Back</button>
			<button (click)="goHome()"
				mat-button 
				matStepperNext 
				class="save-button">Save Estimate</button>
		</div>
  </mat-step>
</mat-stepper>
