.form-wrapper {
  display: grid;
	padding-top: 24px;
}

.next-button-wrapper {
	display: flex;
	justify-content: center;
}

.next-button {
	border: 1px solid #255799;
	border-radius: 40px;
	padding: 6px 16px;
	background-color: #F5F5F5;
	color: #255799;
	font-size: 20px;
	font-weight: 100;
	cursor: pointer;
	transition: 0.3s;
}

.next-button:hover {
	background-color: #D3D3D3;
	transition: 0.3s;
}

.save-button {
	border: 1px solid #255799;
	border-radius: 40px;
	padding: 6px 16px;
	background-color: #13A8E0;
	color: #FFFFFF;
	font-size: 20px;
	font-weight: 200;
	cursor: pointer;
	transition: 0.3s;
}

.save-button:hover {
	filter: brightness(80%);
	transition: 0.3s;
}

.button-disabled {
	cursor: not-allowed;
	opacity: 0.5;
}

.right-space {
	margin-right: 20px;
}

.estimate-info {
	font-size: 20px;
}

.total-cost {
	font-size: 28px;
	font-weight: 500;
}

.card {
	border: 1px solid gray;
	border-radius: 40px;
	width: 30%;
	margin: 12px 0;
	padding: 14px;
}

:host ::ng-deep .mat-step-icon-selected { 
	background-color: #13A8E0;
}

:host ::ng-deep .mat-step-icon-state-edit {
	background-color: #255799;
}

:host ::ng-deep .mat-mdc-form-field-icon-prefix {
	padding-left: 6px;
	padding-top: 10px;
}

:host ::ng-deep .mat-mdc-form-field {
	min-width: 300px;
}